{% extends 'modeles/adminModele.html.twig' %}
{% block contenu %}
    <h1 class="text-center mt-3">Ajouter une formation</h1>

    <div class="container col-4 mt-3">
        {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.nom, 'Nom :') }}
                {% if form_errors(form.nom) == null %}
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                {% else %}    
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control is-invalid'}}) }}
                    <div class="invalid-feedback">
                        {{ form_errors(form.nom) }}
                    </div>
                {% endif %}
            </div>
        {{form_end(form)}}
    </div>

{% endblock %}